{%extends 'base.html'%}
{% block ctitle %}Create Page{% endblock %}
{% block jinjabody %}
<label for="id1">My Album</label>

<div class="row">
  {% for i in range(0, olist|length) %}
    {% if i%3==0 %}
      <br>
    {% endif %}
    <div class="col">
      <div class="card" style="width: 18rem;">
        <img src="{{olist[i].iurl}}" class="card-img-top" alt="...">
        <div class="card-body">
          <a href="/show/{{olist[i].iid}}" class="btn btn-primary">Show</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock %}