<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>ClubCollege - {{ title }}</title>
    {% else %}
        <title>ClubCollege</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">ClubCollege</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <a class="nav-item nav-link" href="{{ url_for('about') }}">About NITMz</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              <a class="nav-item nav-link" href="{{ url_for('landingPage') }}">Previous Year Papers</a>
              {% if current_user.is_authenticated %}
                <a class="nav-link active" aria-current="page" href="/get_details">Add Exam Papers</a>
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login Here</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register Yourself</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>College Events</h3>
            <p class='text-muted'>Latest College Events & Notifications
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">College Fest</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">College Calendars</li>
                <li class="list-group-item list-group-item-light">Notify Friends</li>
                <li class="list-group-item list-group-item-light">College Exam Datesheet</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container text-center text-md-left">
          <div class="row text-center text-md-left">
              <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">ClubCollege</h5>
                  <p>Block-5, Department of CSE</p>
                  <p>NIT Mizoram</p>
                  <p>Chaltlang, Aizawl-796012</p>
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Products</h5>
                  <p>
                      <a href="/home" class="text-white" style="text-decoration: none;">Home Page</a>
                  </p>
                  <p>
                    <a href="{{ url_for('logout') }}" class="text-white" style="text-decoration: none;">Log Out</a>
                </p>
                  <p>
                      <a href="/pyq" class="text-white" style="text-decoration: none;">Previous Year Papers</a>
                  </p>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Useful Links</h5>
                  <p>
                      <a href="/home" class="text-white" style="text-decoration: none;">Your Account</a>
                  </p>
                  <p>
                    <a href="https://www.nitmz.ac.in" class="text-white" style="text-decoration: none;">NIT Mizoram</a>
                </p>
                  <p>
                      <a href="https://www.nitmz.ac.in/CPT_AND_PDeptHome.aspx?page=a&ItemID=kk&nDeptID=ei" class="text-white" style="text-decoration: none;">Training & Placements</a>
                  </p>
              </div>
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                  <h5 class="text-uppercase mb-4 font-weight-bold text-warning">Contacts</h5>
                  <p>
                      <i class="fas fa-home mr-3"></i>Chaltland, Aizawl, Mizoram
                  </p>
                  <p>
                      <i class="fas fa-envelope mr-3"></i>nit_mizoram@nitmz.ac.in
                  </p>
                  <p>
                      <i class="fas fa-phone mr-3"></i>0389-2391774 / 0389-2391699
                  </p>
                  <p>
                      <i class="fas fa-print mr-3"></i>0389-2391236 
                  </p>
              </div>
          </div>
          <hr class="mb-4">
          <div class="row align-items-center">
              <div class="col-md-7 col-lg-8">
                  <p>Copyright © 2023. All Right Reserved. Designed & Developed by Saurabh Raj Ratan
                      <a href="" style="text-decoration: none;">
                      <strong class="text-warning">NIT Mizoram</strong>
                      </a> 
                  </p>
              </div>
              <div class="col-md-5 col-lg-4">
                  <div class="text-center text-md-right">
                      <ul class="list-unstyle list-inline">
                          <li>
                              <a href="https://www.facebook.com/people/National-Institute-of-Technology-Mizoram/100068020644912/" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-facebook"></i></a>
                          </li>
                          <li>
                              <a href="https://twitter.com/NIT_Mizoram" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li>
                              <a href="https://www.nitmz.ac.in" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-google-plus"></i></a>
                          </li>
                          <li>
                              <a href="https://www.nitmz.ac.in" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-linkedin-in"></i></a>
                          </li>
                          <li>
                              <a href="https://www.youtube.com/watch?v=E0DwX-ix54g" class="btn-floating btn-sm text-white" style="font-size: 23px;"><i class="fab fa-youtube"></i></a>
                          </li>
                      </ul>

                  </div>
              </div>
          </div>
      </div>
  </footer>
</body>
</html>